*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
nav#botoneraMovil{
    position: absolute;
    width: 90%;
    height: auto;
    background: #fff;
    top: 50px;
    left: -100%;
    transition: left .5s;
}
nav#botoneraMovil ul li{
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    background: #ccc;
}
nav#botoneraMovil ul li:hover{
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    background: #aaa;

}
label#labelMovil span{
    position: absolute;
    width: 40px;
    height: 40px;
    background:url(/imagenes_taller/Botonera/img/boton1.jpg)no-repeat;
    cursor: pointer;
}
input#botonMovil{
    display: none;
}
label#labelMovil h2{
    position: absolute;
    top: 10px;
    left: 60px;
}
label#labelMovil span:hover{
    background: url(/imagenes_taller/Botonera/img/boton2.jpg) no-repeat;
}
label#labelMovil:checked + label#labelMovil span{
    background: url(/imagenes_taller/Botonera/img/boton3.jpg);
}
input#botonMovil:checked ~ nav#botoneraMovil{
    left: 0px;
}
